.zefirblat {
	width: 500px;
	height: 500px;
	border: solid 5px #0b868b;
	border-radius: 50%;
	position: relative;
}

.thatonedotinthecenter {
	width: 17px;
	height: 17px;
	background-color: #0b868b;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.minute-hand {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	transform-origin: center;
	animation: hand_anim 60s linear infinite;
}

.hour-hand {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	transform-origin: center;
	animation: hand_anim 3600s linear infinite;
}

.minutes {
	width: 5px;
	height: 200px;
	background-color: #0b868b;
	transform-origin: bottom center;
	transform: translate(-50%, -100%);
}

.hours {
	width: 5px;
	height: 160px;
	background-color: #0b868b;
	transform-origin: bottom center;
	transform: translate(-50%, -100%);
}

@keyframes hand_anim {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


